activity/storage/*.key
activity/vendor
activity/.env
activity/.env.backup
activity/.phpunit.result.cache
activity/npm-debug.log
activity/yarn-error.log
activity/.phpstorm.meta.php
activity/_ide_helper.php
activity/storage/mysql
/.idea
/mysql
activity/mysql
activity/.idea
landing/storage/*.key
landing/vendor
landing/.env
landing/.env.backup
landing/.phpunit.result.cache
landing/npm-debug.log
landing/yarn-error.log
landing/.phpstorm.meta.php
landing/_ide_helper.php
landing/storage/mysql
landing/mysql
landing/.idea
..gitignore.kate-swp